<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolclass.mappers.ClassMapper">
	
	<!-- 페이징 처리를 위한 전채 글 갯수 hj -->
	<select id="classListCnt" parameterType="map" resultType="int">
	<![CDATA[  
		select count(*)
		from wc_class c
		where c_confirm = 'Y'
		and c_no in (select c_no from wc_timetable where time(t_start) >= #{timestart} and time(t_end) <= #{timeend})
		and c_name like concat('%',#{search},'%')
		and c_category like concat('%',#{category},'%')
		and c_addr1 like concat('%',#{addr},'%')
		and c_price between #{pricestart} and #{priceend}
	]]>
	<if test="lowlv != 0 || midlv != 0 || highlv != 0">
		and c.c_level in (#{lowlv},#{midlv},#{highlv})
	</if> 
	</select>
	<!-- 페이징 처리를 위한 전채 글 갯수 hj -->
	
	<!-- 클래스 검색 조회 및 페이징 hj -->
	<!-- 최신0 인기1 거리2 낮은3 높은4 -->
	<select id="classList" resultType="ClassVO">
	<![CDATA[  
		select c.c_no, c.c_name, c.c_addr1, c.c_addr2, c.c_lati, c.c_longi, c.c_level, c.c_category, c.c_img, c.c_price, round(ifnull(r.score,0.0),1) score,
		getDistance(#{userLat,javaType=DOUBLE},#{userLng,javaType=DOUBLE},c.c_lati,c.c_longi) distance
		from wc_class c left join (select c_no, avg(r_score) score, count(*) cnt from wc_reply group by c_no) r
		on c.c_no = r.c_no
		where c_confirm = 'Y'
		and c.c_no in (select c_no from wc_timetable where time(t_start) >= #{timestart} and time(t_end) <= #{timeend})
		and c.c_name like concat('%',#{search},'%')
		and c.c_category like concat('%',#{category},'%')
		and c.c_addr1 like concat('%',#{addr},'%')
		and c.c_price between #{pricestart} and #{priceend}
	]]>
	<if test="lowlv != 0 || midlv != 0 || highlv != 0">
	and c.c_level in (#{lowlv},#{midlv},#{highlv})
	</if>
	order by
	<choose>
		<when test="order == 1">
		r.cnt*r.score desc
		</when>
		<when test="order == 2">
		distance
		</when>
		<when test="order == 3">
		c.c_price
		</when>
		<when test="order == 4">
		c.c_price desc
		</when>
		<otherwise>
		c.c_regdate desc
		</otherwise>
	</choose>
	<![CDATA[
		limit #{pageSize,javaType=INTEGER}
		offset #{startRow,javaType=INTEGER}
	]]> 
	</select>
	<!-- 최신0 인기1 거리2 낮은3 높은4 -->
	<!-- 클래스 검색 조회 및 페이징 hj -->
	
	<!-- 주변검색 기능 hj -->
	<select id="nearbyClassList" resultType="ClassVO">
	<![CDATA[  
		select c.c_no, c.c_name, c.c_addr1, c.c_addr2, c.c_lati, c.c_longi, c.c_level, c.c_category, c.c_img, c.c_price, round(ifnull(r.score,0.0),1) score,
		getDistance(#{userLat,javaType=DOUBLE},#{userLng,javaType=DOUBLE},c.c_lati,c.c_longi) distance
		from wc_class c left join (select c_no, avg(r_score) score, count(*) cnt from wc_reply group by c_no) r
		on c.c_no = r.c_no
		where c_confirm = 'Y'
		having distance <= 30
		order by distance
		limit 30
	]]> 
	</select>
	<!-- 주변검색 기능 hj -->
	
	<insert id="insert">
	
	</insert>
	
	<update id="updateMember">
	
	</update>
	
	<delete id="deleteMember">
	
	</delete>
	
</mapper>	