<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolclass.mappers.RsrvPayMapper">

	<!-- 마지막 주문번호 조회 TH(수정) -->
	<select id="lastP_no" resultType="String">
	<![CDATA[
	SELECT p_no
	FROM wc_rsrv_pay
	WHERE p_paydate >= DATE_FORMAT(NOW(), '%Y-%m-%d 00:00:00')
	ORDER BY p_no DESC
	LIMIT 1
	]]>
	</select>
	
	<!-- 결제시 insert,update -->
	
	<!-- 결제 테이블 isnert TH -->
	<insert id="insertPay" parameterType="PayDTO">
	insert into wc_rsrv_pay (p_no, m_id, c_no, p_price, p_rsrvdate, p_peoplenum, p_subs, p_usedpoint, imp_uid, p_status)
	values (#{p_no}, #{m_id}, #{c_no}, #{price}, #{p_rsrvdate}, #{peopleNum}, #{subs}, #{point}, #{imp_uid}, #{status})
	</insert>
	
	<!-- 결제 테이블 selectPrice TH -->
	<select id="selectPrice" resultType="int">
	select p_price from wc_rsrv_pay where p_no=#{p_no}
	</select>
	
	<!-- 결제 테이블 select TH -->
	<select id="selectPay" resultType="RsrvPayVO">
	select * from wc_rsrv_pay where p_no=#{p_no}
	</select>
	
	<!-- 결제 테이블 결제 상태 update TH -->
	<update id="updatePay" parameterType="map">
	update wc_rsrv_pay set p_status=#{p_status} ,
 	p_canceldate =
      <choose>
        <when test="p_status == 'cancelled'">now()</when>
        <otherwise>null</otherwise>
      </choose>
	where p_no=#{p_no}
	</update>
	
	<!-- 결제 테이블 결제 상태 update TH -->
	<update id="updateCancle">
	update wc_rsrv_pay set p_status=#{p_status}, p_canceldate=now() where p_no=#{p_no}
	</update>
	
	<!-- 타임테이블 t_rem_p 변경 TH -->
	<update id="updateT_rem_p">
	update wc_timetable set t_rem_p=(t_rem_p-#{p_peoplenum})
	where CONCAT(t_date, ' ', t_start) in (select p_rsrvdate from wc_rsrv_pay where p_no = #{p_no})
	and c_no in (select c_no from wc_rsrv_pay where p_no = #{p_no});
	</update>
	
	<!-- 구독 쿠폰 사용시 subs테이블 count 변경 -->
	<update id="updateS_cnt">
	update wc_subscription set s_cnt=(s_cnt-#{p_subs}) where m_id=#{m_id}
	</update>
	
	<!-- 포인트 사용시 member테이블 point 변경 -->
	<update id="updatePoint">
	update wc_member set m_point=(m_point-#{p_usedpoint}) where m_id=#{m_id}
	</update>
	
	<!-- 구독 테이블 insert TH -->
	<insert id="insertSubs">
	insert into wc_subscription(m_id, s_start, s_end, s_cnt)
	values(#{m_id}, now(), adddate(now(), interval 30 day), 5)
	</insert>
	
	
</mapper>	