<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolclass.mappers.SubscriptionMapper">
	
	<!-- 구독정보 조회 TH -->
	<select id="getSubsInfo" resultType="SubscriptionVO">
	select * from wc_subscription where m_id=#{m_id} and s_end>=now() and s_cnt>0
	</select>
	
	<!-- 구독 테이블 insert TH -->
	<insert id="insertSubs">
	insert into wc_subscription(m_id, s_start, s_end, s_cnt)
	values(#{m_id}, now(), adddate(now(), interval 30 day), 5)
	</insert>
	
</mapper>	