<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolclass.mapper.swBoardMapper">
	
	
	
	<!-- DB시간조회 -->
 	<select id="getTime" resultType="string">
 	  select now()
 	</select>
 	
 	<!-- 글쓰기 -->
 	<insert id="create">
 	   insert into wc_board (b_category,b_writer,b_title,b_content) 
 	   values(#{b_category},#{b_writer},#{b_title},#{b_content}) 	 	
 	</insert>
 	
 	<!-- 글 전체 목록조회 -->
 	<select id="listAll" parameterType="map" resultType="BoardVO">
 	<![CDATA[
	select *
	from wc_board 
	where b_category like concat('%',#{b_category},'%')
	and b_title like concat('%',#{search},'%')
	order by b_no desc;
	]]>
 	</select>
 	
 	<!-- 목록 페이징처리  -->
 	<select id="boardPageNum" parameterType="map" resultType="int">
 	<![CDATA[
 	select count(b_no)
	from wc_board 
	where b_category like concat('%',#{b_category},'%')
	and b_title like concat('%',#{search},'%')
	 ]]>  
 	</select>
 	<!-- 글번호에 해당하는 글정보 조회 -->
 	<select id="getBoard" resultType="BoardVO">
 		select * from wc_board 
 		where b_no = #{b_no}	
 	</select>
 	
 	<!-- 글 조회수 1증가 -->
 	<update id="addViewcnt">
		update wc_board set b_viewcnt = b_viewcnt + 1 
		where b_no = #{b_no}		 	
 	</update>
 	
 	<!-- 특정글 댓글 목록 조회 -->
 	<select id="commentList" parameterType="map" resultType="ReplyVO">
 	<![CDATA[
	select *
	from wc_reply 
	where b_no = #{b_no}
	order by r_no desc
	]]>
 	</select>
 	
 	<!-- 댓글목록 페이징처리  -->
 	<select id="replyPageNum" parameterType="map" resultType="int">
 	<![CDATA[
 	select count(r_no)
	from wc_reply 
	where b_no = #{b_no}
	 ]]>  
 	</select>
 	
 	<!--  글정보 수정  -->
	<update id="updateBoard">
		update wc_board set b_title=#{b_title},b_content=#{b_content}
		where b_no = #{b_no}
	</update> 	
 	
 	<!--  글 정보 삭제  -->
 	<delete id="deleteBoard">
 	    delete from wc_board
 	    where b_no = #{b_no}
 	</delete>
 	
 	<!-- 댓글쓰기 -->
 	<insert id="writeComment" parameterType="map">
 	   insert into wc_reply (b_no,m_id,r_content) 
 	   values(#{b_no},#{m_id},#{r_content_w}) 	 	
 	</insert>
 	
 	<!--  댓글수정  --> 
 
 	<update id="updateComment">
		update wc_reply set r_content=#{r_content}
		where r_no = #{r_no}
	</update> 	
 	
 	<!--  댓글삭제  -->
 	<delete id="deleteComment">
 	    delete from wc_reply
 	    where r_no = #{r_no}
 	</delete>

 	
 	<!-- 특정클래스 후기목록 조회 -->
 	<select id="reviewList" parameterType="map" resultType="ReplyVO">
 	<![CDATA[
	select *
	from wc_reply 
	where c_no = #{c_no}
	order by r_no desc
	]]>
 	</select>
 	
 	<!-- 후기목록 페이징처리  -->
 	<select id="reviewPageNum" parameterType="map" resultType="int">
 	<![CDATA[
 	select count(r_no)
	from wc_reply 
	where c_no = #{c_no}
	 ]]>  
 	</select>
 	
</mapper>	