<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolclass.mappers.TJMapper">
	<insert id="addClass">
		insert into wc_class *
		values(c_name=#{c_name}, m_id=#{m_id}, c_maxperson=#{c_maxperson}, c_addr=#{c_addr1},
		 c_addr2=#{c_addr2}, c_addrdetails=#{c_addrdetails}, c_lati=#{c_lati}, c_longi=#{c_longi}, 
		 c_level=#{c_level}, c_time=#{c_time}, c_category=#{c_category}, c_content=#{c_content}, 
		 c_img=#{c_img}, c_price=#{c_price}, c_confirm=#{c_confirm})
	</insert>	
	
	<select id="findByCategory" resultType="ClassVO">
		select *
		from wc_class
		where c_category=#{c_category}
	</select>
	
	<select id="getMemberInfo" resultType="MemberVO">
		select *
		from wc_member
		where m_id = #{m_id}
	</select>
	
	<select id="getCategoryClassList" resultType="ClassVO">
		SELECT * FROM wc_class
		order by c_category asc;
	</select>
	
	<insert id="insertAlert">
	</insert>
	
	
	
</mapper>	